body {
  background: #000;
  color: #fff;
}

canvas {
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

#debug, #log {
  border-top: 1px solid #444;
  font-family: "Courier New", "sans";
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}
