!!! 5
%html{ :lang => "en"}
  %head
    %title= "AFN:Log"
    %link{ :charset => "utf-8", :href => "/assets/application.css", 
           :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    %header
      %h1 Alone. For Now.

    %section{:id => 'log'}
      Ludum Dare 22
      Earth Date 12/16/2011

      ===  9:05 PM ===
      The theme was announced: Alone.
      And then thinking begins.

      === 10:03 PM ===
      Just got out of the hot tub. Guess we were in there for an hour. A few ides though. Niiice.

      === 10:04 PM ===
      And so it begins.
      Let's bootstrap this thing.

      === 10:09 PM ===
      I need a name. Shit. Maybe it will come to me.
      Alone. For now.

      === 10:38 PM ===
      Page up.

      === 11:29 PM ===
      Page up again. This time with full on dynamic goodies. Sinatra, Sprockets, Sass, Coffeescript, and HAML (gasp!)

      ===  1:30 AM ===
      Deployed v1 to Heroku and Github.
      Working on post for Ludum Dare Compo Blog.
               
    -# %footer
      %p
        Ludum Dare 22

